@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins, sans-serif;
    background-color: bisque;
    user-select: none;
}

#Sheet {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
} 
#reset{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
  }
  
#reset::before {
    margin-left: auto;
  }
#reset::after, #reset::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
#reset:hover::after, #reset:hover::before {
    width: 100%;
  }
.cell {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.red {
    background-color: rgb(0, 110, 255);
}

.yellow {
    background-color: rgb(157, 0, 255);
}
